# PHASE 1

### In this file after collecting data from different sources, I have merged them into datasets datatrained has provided. Links for the websites from which data has been collected are give below:

#### LINKS
1-
Population 2011
https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population

Population 2001
http://demographia.com/db-india-ur2001.htm

2-
Literacy rate 2011
https://www.census2011.co.in/literacy.php

Literacy rate 2001
https://socialjustice.gov.in/common/76669

3-
Area data link
https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area

### Now, I will merge it in all the files and export them as csv file.

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## District wise crimes committed IPC

In [2]:
ipc=pd.read_excel("District_wise_crimes_committed_IPC_2001_2012.xlsx")

In [3]:
unique_states = ipc['STATE/UT'].unique()
print(unique_states)

['ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GOA'
 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'JHARKHAND'
 'KARNATAKA' 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA'
 'MIZORAM' 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'A & N ISLANDS'
 'CHANDIGARH' 'D & N HAVELI' 'DAMAN & DIU' 'DELHI UT' 'LAKSHADWEEP'
 'PUDUCHERRY']

In [4]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI UT', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged = ipc.merge(population_df, on='STATE/UT', how='left')

In [5]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI UT', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI UT', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI UT', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged = merged.merge(population_df_2011, on='STATE/UT', how='left')
merged = merged.merge(literacy_df_2001, on='STATE/UT', how='left')
merged = merged.merge(literacy_df_2011, on='STATE/UT', how='left')

In [6]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI UT', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged = merged.merge(area_df, on='STATE/UT', how='left')

In [7]:
merged.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,175,0,181,1518,4154,75727541,49577103,60.5,67.02,162975
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,154,0,270,754,4125,75727541,49577103,60.5,67.02,162975
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,186,0,404,1262,5818,75727541,49577103,60.5,67.02,162975
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,57,0,233,1181,3140,75727541,49577103,60.5,67.02,162975
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,247,0,431,2313,6507,75727541,49577103,60.5,67.02,162975

In [14]:
merged.to_csv('IPC Crime.csv', index=False)

## District wise crimes committed against SC

In [8]:
sc=pd.read_excel('District_wise_crimes_committed_against_SC_2001_2012.xlsx')

In the original dataset provided by datatrained total crimes against sc was not given i have calculated it using sum function in excel and updated the dataset.

In [9]:
sc

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs,Total Crimes Against SC
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32,55
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53,127
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34,114
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25,100
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,1,0,0,0,0,0,0,0,0,0,1
9016,PUDUCHERRY,PUDUCHERRY,2012,1,0,0,0,0,0,0,1,20,1,23
9017,PUDUCHERRY,TOTAL,2012,2,0,0,0,0,0,0,1,20,1,24

In [10]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged_sc = sc.merge(population_df, on='STATE/UT', how='left')

In [11]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged_sc = merged_sc.merge(population_df_2011, on='STATE/UT', how='left')
merged_sc = merged_sc.merge(literacy_df_2001, on='STATE/UT', how='left')
merged_sc = merged_sc.merge(literacy_df_2011, on='STATE/UT', how='left')

In [12]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged_sc = merged_sc.merge(area_df, on='STATE/UT', how='left')

In [13]:
merged_sc.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs,Total Crimes Against SC,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32,55,75727541,49577103,60.5,67.02,162975
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53,127,75727541,49577103,60.5,67.02,162975
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34,114,75727541,49577103,60.5,67.02,162975
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25,100,75727541,49577103,60.5,67.02,162975
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7,89,75727541,49577103,60.5,67.02,162975

In [15]:
merged_sc.to_csv('SC Crime.csv', index=False)

## District wise crimes committed against ST

In [16]:
st=pd.read_excel('District_wise_crimes_committed_against_ST_2001_2012.xlsx')

In [17]:
st

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs,Total Crimes Against ST
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13,18
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6,14
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0,2
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0,4
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9013,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,0,0,0,0
9014,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,0,0,0,0
9015,PUDUCHERRY,KARAIKAL,2012,0,0,0,0,0,0,0,0,0,0,0
9016,PUDUCHERRY,PUDUCHERRY,2012,0,0,0,0,0,0,0,0,0,0,0
9017,PUDUCHERRY,TOTAL,2012,0,0,0,0,0,0,0,0,0,0,0

In [18]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged_st = st.merge(population_df, on='STATE/UT', how='left')

In [19]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged_st = merged_st.merge(population_df_2011, on='STATE/UT', how='left')
merged_st = merged_st.merge(literacy_df_2001, on='STATE/UT', how='left')
merged_st = merged_st.merge(literacy_df_2011, on='STATE/UT', how='left')

In [20]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged_st = merged_st.merge(area_df, on='STATE/UT', how='left')

In [21]:
merged_st.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping Abduction,Dacoity,Robbery,Arson,Hurt,Protection of Civil Rights (PCR) Act,Prevention of atrocities (POA) Act,Other Crimes Against STs,Total Crimes Against ST,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,ADILABAD,2001,0,1,2,0,0,0,2,0,0,13,18,75727541,49577103,60.5,67.02,162975
1,ANDHRA PRADESH,ANANTAPUR,2001,0,0,0,0,0,0,7,0,1,6,14,75727541,49577103,60.5,67.02,162975
2,ANDHRA PRADESH,CHITTOOR,2001,0,0,0,0,0,0,2,0,0,0,2,75727541,49577103,60.5,67.02,162975
3,ANDHRA PRADESH,CUDDAPAH,2001,0,0,0,0,0,0,2,0,2,0,4,75727541,49577103,60.5,67.02,162975
4,ANDHRA PRADESH,EAST GODAVARI,2001,0,0,0,0,0,0,0,0,0,14,14,75727541,49577103,60.5,67.02,162975

In [22]:
merged_st.to_csv('ST Crime.csv', index=False)

## District wise crime committed against children

In [23]:
children=pd.read_excel('District_wise_crimes_committed_against_children_2001_2012.xlsx')

In [24]:
children

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9010,LAKSHADWEEP,LAKSHADWEEP,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9011,LAKSHADWEEP,TOTAL,2012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9012,PUDUCHERRY,KARAIKAL,2012,0.0,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7
9013,PUDUCHERRY,PUDUCHERRY,2012,0.0,4.0,16.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,25
9014,PUDUCHERRY,TOTAL,2012,0.0,7.0,18.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,3.0,32

In [25]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged_chi = children.merge(population_df, on='STATE/UT', how='left')

In [26]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged_chi = merged_chi.merge(population_df_2011, on='STATE/UT', how='left')
merged_chi = merged_chi.merge(literacy_df_2001, on='STATE/UT', how='left')
merged_chi = merged_chi.merge(literacy_df_2011, on='STATE/UT', how='left')

In [27]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged_chi = merged_chi.merge(area_df, on='STATE/UT', how='left')

In [28]:
merged_chi.head()

,STATE/UT,DISTRICT,Year,Murder,Rape,Kidnapping and Abduction,Foeticide,Abetment of suicide,Exposure and abandonment,Procuration of minor girls,Buying of girls for prostitution,Selling of girls for prostitution,Prohibition of child marriage act,Other Crimes,Total,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,ADILABAD,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,75727541,49577103,60.5,67.02,162975
1,ANDHRA PRADESH,ANANTAPUR,2001,19.0,12.0,29.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,66,75727541,49577103,60.5,67.02,162975
2,ANDHRA PRADESH,CHITTOOR,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,75727541,49577103,60.5,67.02,162975
3,ANDHRA PRADESH,CUDDAPAH,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,75727541,49577103,60.5,67.02,162975
4,ANDHRA PRADESH,EAST GODAVARI,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,75727541,49577103,60.5,67.02,162975

In [29]:
merged_chi.to_csv('Children Crime.csv', index=False)

## Case Reported and value of property taken away by place of occurrence

In [30]:
prop=pd.read_excel('17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.xlsx')

In [31]:
prop

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175
...,...,...,...,...,...,...,...,...,...,...,...
4339,Puducherry,2012,BANKS,0,0,0,0,0,0,0,0
4340,Puducherry,2012,COMMERCIAL ESTABLISHMENTS,2,58000,4,197230,26,2117964,20,647043
4341,Puducherry,2012,OTHER PLACES,2,575000,8,113100,4,25500,596,19689249
4342,Puducherry,2012,TOTAL (MANUAL),5,683000,16,2520330,77,12168314,658,23866392
4343,Puducherry,2012,TOTAL COMPUTER FROM 1 TO 7,5,683000,16,2520330,77,12168314,658,23866392

In [32]:
unique_states = prop['STATE/UT'].unique()
print(unique_states)

['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chhattisgarh' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir' 'Jharkhand'
 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Mizoram' 'Nagaland' 'Odisha' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'A&N Islands'
 'Chandigarh' 'D&N Haveli' 'Daman & Diu' 'Delhi UT' 'Lakshadweep'
 'Puducherry']

In [33]:
# Population data
population_data_2001 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2001': [76210007, 1091117, 26638407, 82878996, 20795956, 1343998, 50596992, 21082989, 6077248,
                        10069917, 26909428, 52733958, 31838619, 60385118, 96752247, 2388634, 2306069, 891058,
                        1988636, 36706920, 24289296, 56473122, 540493, 62110839, 3191168, 166052859, 8479562,
                        80221171, 356265, 900914, 220451, 158059, 13782976, 60595, 973829]
}

population_data_2011 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2011': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602,
                        12267032, 32988134, 61095297, 33406061, 72626809, 112374333, 2570390, 2966889, 1097206,
                        1978502, 41974219, 27743338, 68548437, 610577, 72147030, 3673917, 199812341, 10086292,
                        91276115, 380581, 1055450, 585764, 243247, 16787941, 64473, 1247953]
}

# Literacy rate data
literacy_rate_2001 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2001': [60.5, 54.3, 63.3, 47, 64.7, 82, 69.1, 57.9, 76.5, 55.5, 53.6,
                      66.6, 90.9, 63.7, 76.9, 70.5, 62.5, 88.8, 66.6, 63.1, 69.7,
                      60.1, 68.8, 73.5, 73.2, 56.3, 71.6, 68.6, 81.3, 81.9, 57.6,
                      78.2, 81.7, 86.7, 81.2]
}

literacy_rate_2011 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2011': [67.02, 65.38, 72.19, 61.8, 70.28, 88.7, 78.03, 75.55, 82.8,
                      67.16, 66.41, 75.36, 94, 69.32, 82.34, 76.94, 74.43, 91.33,
                      79.55, 72.87, 75.84, 66.11, 81.42, 80.09, 87.22, 67.68, 78.82,
                      76.26, 86.63, 86.05, 76.24, 87.1, 86.21, 91.85, 85.85]
}

# Area data
area_data = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'AREA': [162975, 83743, 78438, 94163, 135192, 3702, 196024, 44212, 55673, 42241, 79716,
             191791, 38863, 308252, 307713, 22327, 22429, 21081, 16579, 155707, 50362,
             342239, 7096, 130058, 10491, 240928, 53483, 88752, 8249, 114, 603, 32, 1484, 32, 479]
}

# Converting dictionaries to DataFrames
population_df_2001 = pd.DataFrame(population_data_2001)
population_df_2011 = pd.DataFrame(population_data_2011)
literacy_df_2001 = pd.DataFrame(literacy_rate_2001)
literacy_df_2011 = pd.DataFrame(literacy_rate_2011)
area_df = pd.DataFrame(area_data)

# Merge data with the main DataFrame
merged_prop = prop.merge(population_df_2001, on='STATE/UT', how='left') \
              .merge(population_df_2011, on='STATE/UT', how='left') \
              .merge(literacy_df_2001, on='STATE/UT', how='left') \
              .merge(literacy_df_2011, on='STATE/UT', how='left') \
              .merge(area_df, on='STATE/UT', how='left')

In [34]:
merged_prop.head()

,STATE/UT,YEAR,Place Of Occurrence,Dacoity (Section 395-398 IPC) - Number of cases registered,Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees),"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)",Theft (Section 379-382 IPC) - Number of cases registered,Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees),POPULATION_2001,POPULATION_2011,LITERACY_2001,LITERACY_2011,AREA
0,Andhra Pradesh,2001,RESIDENTIAL PREMISES,100,4446961,177,5962460,5158,105324332,4257,53517835,76210007,49577103,60.5,67.02,162975
1,Andhra Pradesh,2001,HIGH-WAY,57,5340335,172,6364866,31,2000574,74,1593092,76210007,49577103,60.5,67.02,162975
2,Andhra Pradesh,2001,RIVER & SEA,2,145345,11,209330,101,1412516,110,1610200,76210007,49577103,60.5,67.02,162975
3,Andhra Pradesh,2001,RAILWAYS,8,1750800,19,304336,6,24392,943,16418110,76210007,49577103,60.5,67.02,162975
4,Andhra Pradesh,2001,RUNNING TRAINS,5,75000,3,164000,0,0,296,6170175,76210007,49577103,60.5,67.02,162975

In [35]:
merged_prop.to_csv('Property Place Crime.csv', index=False)

## Crime by place of occurance

In [36]:
place=pd.read_excel('17_Crime_by_place_of_occurrence_2001_2012.xlsx')

In [37]:
# Define the list of names to remove
names_to_remove = ['TOTAL (UTs)', 'TOTAL (ALL-INDIA)', 'TOTAL (STATES)']

# Removing rows where 'place' column has any of the names to remove
placee = place[~place['STATE/UT'].isin(names_to_remove)]

print(placee)

              STATE/UT  YEAR  RESIDENTIAL PREMISES - Dacoity  \
0       ANDHRA PRADESH  2001                             100
1    ARUNACHAL PRADESH  2001                               9
2                ASSAM  2001                             381
3                BIHAR  2001                             818
4         CHHATTISGARH  2001                              54
..                 ...   ...                             ...
449       D & N HAVELI  2012                               0
450        DAMAN & DIU  2012                               0
451              DELHI  2012                              10
452        LAKSHADWEEP  2012                               0
453         PUDUCHERRY  2012                               1

     RESIDENTIAL PREMISES - Robbery  RESIDENTIAL PREMISES - Burglary  \
0                               177                             5158
1                                26                               99
2                               191                             1695
3                               326                             2486
4                                42                             3336
..                              ...                              ...
449                               0                                8
450                               1                               12
451                             101                             1249
452                               0                                3
453                               4                               47

     RESIDENTIAL PREMISES - Theft  HIGHWAYS - Dacoity  HIGHWAYS - Robbery  \
0                            4257                  57                 172
1                             131                   0                   0
2                            2901                  46                 136
3                            4741                 162                 826
4                            1417                  10                  38
..                            ...                 ...                 ...
449                            19                   0                   0
450                             4                   0                   0
451                          7076                   1                  32
452                             7                   0                   0
453                            42                   0                   0

     HIGHWAYS - Burglary  HIGHWAYS - Theft  ...  \
0                     31                74  ...
1                      0                 8  ...
2                      7                87  ...
3                      0               257  ...
4                     12                72  ...
..                   ...               ...  ...
449                    0                10  ...
450                    0                 0  ...
451                    0               189  ...
452                    0                 0  ...
453                    0                 0  ...

     COMMERCIAL ESTABLISHMENTS - Theft  OTHER PLACES - Dacoity  \
0                                 2502                      37
1                                   54                       8
2                                  967                      77
3                                  686                     210
4                                  299                      15
..                                 ...                     ...
449                                 12                       2
450                                  8                       0
451                               1370                      17
452                                  0                       0
453                                 20                       2

     OTHER PLACES - Robbery  OTHER PLACES - Burglary  OTHER PLACES - Theft  \
0                       232                      862                  8849
1                        40                       65                   249
2                       261                      271                  1342
3                       880                      505                  2582
4                       239                      420                  2835
..                      ...                      ...                   ...
449                       2                        5                    22
450                       1                        2                    42
451                     431                      178                 12749
452                       0                        0                     0
453                       8                        4                   596

     TOTAL - Dacoity  TOTAL - Robbery  TOTAL - Burglary  TOTAL - Theft  \
0                214              629              7220          16751
1                 22               84               248            443
2                532              687              2423           5367
3               1291             2203              3233           9701
4                 87              338              4144           4812
..               ...              ...               ...            ...
449                2                2                22             68
450                1                3                26             55
451               28              608              1715          22032
452                0                0                 3              7
453                5               16                77            658

     Total crime
0          49628
1           1594
2          18018
3          32856
4          18762
..           ...
449          188
450          170
451        48766
452           20
453         1512

[420 rows x 35 columns]

In [38]:
unique_states = placee['STATE/UT'].unique()
print(unique_states)

['ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GOA'
 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'JHARKHAND'
 'KARNATAKA' 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA'
 'MIZORAM' 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'A & N ISLANDS'
 'CHANDIGARH' 'D & N HAVELI' 'DAMAN & DIU' 'DELHI' 'LAKSHADWEEP'
 'PUDUCHERRY']

In [39]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged_placee = placee.merge(population_df, on='STATE/UT', how='left')

In [40]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged_placee = merged_placee.merge(population_df_2011, on='STATE/UT', how='left')
merged_placee = merged_placee.merge(literacy_df_2001, on='STATE/UT', how='left')
merged_placee = merged_placee.merge(literacy_df_2011, on='STATE/UT', how='left')

In [41]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged_placee = merged_placee.merge(area_df, on='STATE/UT', how='left')

In [42]:
merged_placee.head()

,STATE/UT,YEAR,RESIDENTIAL PREMISES - Dacoity,RESIDENTIAL PREMISES - Robbery,RESIDENTIAL PREMISES - Burglary,RESIDENTIAL PREMISES - Theft,HIGHWAYS - Dacoity,HIGHWAYS - Robbery,HIGHWAYS - Burglary,HIGHWAYS - Theft,...,TOTAL - Dacoity,TOTAL - Robbery,TOTAL - Burglary,TOTAL - Theft,Total crime,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,2001,100,177,5158,4257,57,172,31,74,...,214,629,7220,16751,49628,75727541,49577103,60.5,67.02,162975
1,ARUNACHAL PRADESH,2001,9,26,99,131,0,0,0,8,...,22,84,248,443,1594,1091117,1383727,54.3,65.38,83743
2,ASSAM,2001,381,191,1695,2901,46,136,7,87,...,532,687,2423,5367,18018,26638407,31205576,63.3,72.19,78438
3,BIHAR,2001,818,326,2486,4741,162,826,0,257,...,1291,2203,3233,9701,32856,82878796,104099452,47.0,61.80,94163
4,CHHATTISGARH,2001,54,42,3336,1417,10,38,12,72,...,87,338,4144,4812,18762,20795956,25545198,64.7,70.28,135192

In [43]:
merged_placee.to_csv('Place Crime.csv', index=False)

## Crime against Women

In [44]:
women=pd.read_excel('42_District_wise_crimes_committed_against_women_2001_2012.xlsx')

In [45]:
unique_states = women['STATE/UT'].unique()
print(unique_states)

['ANDHRA PRADESH' 'ARUNACHAL PRADESH' 'ASSAM' 'BIHAR' 'CHHATTISGARH' 'GOA'
 'GUJARAT' 'HARYANA' 'HIMACHAL PRADESH' 'JAMMU & KASHMIR' 'JHARKHAND'
 'KARNATAKA' 'KERALA' 'MADHYA PRADESH' 'MAHARASHTRA' 'MANIPUR' 'MEGHALAYA'
 'MIZORAM' 'NAGALAND' 'ODISHA' 'PUNJAB' 'RAJASTHAN' 'SIKKIM' 'TAMIL NADU'
 'TRIPURA' 'UTTAR PRADESH' 'UTTARAKHAND' 'WEST BENGAL' 'A & N ISLANDS'
 'CHANDIGARH' 'D & N HAVELI' 'DAMAN & DIU' 'DELHI' 'LAKSHADWEEP'
 'PUDUCHERRY']

In [46]:
# Population data is extracted from the excel file(link is provided in the phase 1 file)
population_data = {
    'STATE/UT': ['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHHATTISGARH', 
                 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 
                 'JHARKHAND', 'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 
                 'MANIPUR', 'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ODISHA', 'PUNJAB', 
                 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 
                 'UTTARAKHAND', 'WEST BENGAL', 'A & N ISLANDS', 'CHANDIGARH', 
                 'D & N HAVELI', 'DAMAN & DIU', 'DELHI', 'LAKSHADWEEP', 'PUDUCHERRY'],
    'POPULATION 2001': [75727541, 1091117, 26638407, 82878796, 20795956, 
                   1343998, 50596992, 21082989, 6077248, 10069917, 
                   26909428, 52733958, 31838619, 60385118, 96752247, 
                   2388634, 2306069, 891058, 1988636, 36706920, 24289296, 
                   56473122, 540493, 62110839, 3191168, 166052859, 
                   8479562, 80221171, 356265, 900914, 220451, 158059, 
                   13782976, 60595, 973829]
}

# Creating a DataFrame for the population data
population_df = pd.DataFrame(population_data)

# Merging the DataFrame with the population data
merged_women = women.merge(population_df, on='STATE/UT', how='left')

In [47]:
# Population data for 2011
population_2011 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'MADHYA PRADESH',
                 'TAMIL NADU', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 'ANDHRA PRADESH',
                 'ODISHA', 'TELANGANA', 'KERALA', 'JHARKHAND', 'ASSAM',
                 'PUNJAB', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND',
                 'HIMACHAL PRADESH', 'TRIPURA', 'MEGHALAYA', 'MANIPUR', 'NAGALAND',
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH',
                 'SIKKIM', 'D & N HAVELI', 'DAMAN & DIU', 'A & N ISLANDS', 'LAKSHADWEEP','HARYANA'],
    'POPULATION 2011': [199812341, 112374333, 104099452, 91276115, 72626809,
                        72147030, 68548437, 61095297, 60439692, 49577103,
                        41974219, 35003674, 33406061, 32988134, 31205576,
                        27743338, 25545198, 16787941, 12267032, 10086292,
                        6864602, 3673917, 2966889, 2570390, 1978502,
                        1458545, 1383727, 1247953, 1097206, 1055450,
                        610577, 292882, 292882, 380581, 64473,25351462]
}


# ASSUMPTION- D & N HAVELI AND DAMAN & DIU HAD JOINT POPULATION OF 585764 I HAVE DIVIDED IT BY 2 AND GAVE SEPARATELY TO BOTH 


# Creating the literacy rate data for 2001
literacy_2001 = {
    'STATE/UT': ['UTTAR PRADESH', 'MAHARASHTRA', 'BIHAR', 'WEST BENGAL', 'ANDHRA PRADESH', 
                 'TAMIL NADU', 'MADHYA PRADESH', 'RAJASTHAN', 'KARNATAKA', 'GUJARAT', 
                 'ODISHA', 'KERALA', 'JHARKHAND', 'ASSAM', 'PUNJAB', 
                 'HARYANA', 'CHHATTISGARH', 'DELHI', 'JAMMU & KASHMIR', 'UTTARAKHAND', 
                 'HIMACHAL PRADESH', 'TRIPURA', 'MANIPUR', 'MEGHALAYA', 'NAGALAND', 
                 'GOA', 'ARUNACHAL PRADESH', 'PUDUCHERRY', 'MIZORAM', 'CHANDIGARH', 
                 'SIKKIM', 'A & N ISLANDS', 'D & N HAVELI', 'DAMAN & DIU', 'LAKSHADWEEP'],
    'LITERACY RATE 2001': [56.3, 76.9, 47.0, 68.6, 60.5, 
                           73.5, 63.7, 60.1, 66.6, 69.1, 
                           63.1, 90.9, 53.6, 63.3, 69.7, 
                           57.9, 64.7, 81.7, 55.5, 71.6, 
                           76.5, 73.2, 70.5, 62.5, 66.6, 
                           82.0, 54.3, 81.2, 88.8, 81.9, 
                           68.8, 81.3, 57.6, 78.2, 86.7]
}

# Creating the literacy rate data for 2011
literacy_2011 = {
    'STATE/UT': ['KERALA', 'LAKSHADWEEP', 'MIZORAM', 'GOA', 'TRIPURA', 
                 'DAMAN & DIU', 'A & N ISLANDS', 'DELHI', 'CHANDIGARH', 'PUDUCHERRY', 
                 'HIMACHAL PRADESH', 'MAHARASHTRA', 'SIKKIM', 'TAMIL NADU', 'NAGALAND', 
                 'UTTARAKHAND', 'GUJARAT', 'MANIPUR', 'WEST BENGAL', 'D & N HAVELI', 
                 'PUNJAB', 'HARYANA', 'KARNATAKA', 'MEGHALAYA', 'ODISHA', 
                 'ASSAM', 'CHHATTISGARH', 'MADHYA PRADESH', 'UTTAR PRADESH', 'JAMMU & KASHMIR', 
                 'ANDHRA PRADESH', 'JHARKHAND', 'RAJASTHAN', 'ARUNACHAL PRADESH', 'BIHAR'],
    'LITERACY RATE 2011': [94.0, 91.85, 91.33, 88.7, 87.22, 
                           87.1, 86.63, 86.21, 86.05, 85.85, 
                           82.8, 82.34, 81.42, 80.09, 79.55, 
                           78.82, 78.03, 76.94, 76.26, 76.24, 
                           75.84, 75.55, 75.36, 74.43, 72.87, 
                           72.19, 70.28, 69.32, 67.68, 67.16, 
                           67.02, 66.41, 66.11, 65.38, 61.8]
}

# Creating DataFrames for population and literacy rate data
population_df_2011 = pd.DataFrame(population_2011)
literacy_df_2001 = pd.DataFrame(literacy_2001)
literacy_df_2011 = pd.DataFrame(literacy_2011)

# Merging the main DataFrame with population and literacy rate data
merged_women = merged_women.merge(population_df_2011, on='STATE/UT', how='left')
merged_women = merged_women.merge(literacy_df_2001, on='STATE/UT', how='left')
merged_women = merged_women.merge(literacy_df_2011, on='STATE/UT', how='left')

In [48]:
# Area data
area_data = {
    'STATE/UT': ['RAJASTHAN', 'MADHYA PRADESH', 'MAHARASHTRA', 'UTTAR PRADESH', 'GUJARAT',
                 'KARNATAKA', 'ANDHRA PRADESH', 'ODISHA', 'CHHATTISGARH', 'TAMIL NADU',
                 'TELANGANA', 'BIHAR', 'WEST BENGAL', 'ARUNACHAL PRADESH', 'JHARKHAND',
                 'ASSAM', 'LADAKH', 'HIMACHAL PRADESH', 'UTTARAKHAND', 'PUNJAB', 'HARYANA',
                 'JAMMU & KASHMIR', 'KERALA', 'MEGHALAYA', 'MANIPUR', 'MIZORAM', 'NAGALAND',
                 'TRIPURA', 'A & N ISLANDS', 'SIKKIM', 'GOA', 'DELHI', 'D & N HAVELI',
                 'DAMAN & DIU', 'PUDUCHERRY', 'CHANDIGARH', 'LAKSHADWEEP'],
    'AREA km2': [342239, 308252, 307713, 240928, 196024, 191791, 162975, 155707, 135192,
             130058, 112077, 94163, 88752, 83743, 79716, 78438, 59146, 55673, 53483,
             50362, 44212, 42241, 38863, 22429, 22327, 21081, 16579, 10491, 8249,
             7096, 3702, 1484, 603, 32, 479, 114, 32]
}

area_df = pd.DataFrame(area_data)

# Merging the area data with the main DataFrame
merged_women = merged_women.merge(area_df, on='STATE/UT', how='left')

In [49]:
merged_women.head()

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls,Total crime,POPULATION 2001,POPULATION 2011,LITERACY RATE 2001,LITERACY RATE 2011,AREA km2
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0,454,75727541,49577103,60.5,67.02,162975
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0,356,75727541,49577103,60.5,67.02,162975
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0,456,75727541,49577103,60.5,67.02,162975
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0,278,75727541,49577103,60.5,67.02,162975
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0,475,75727541,49577103,60.5,67.02,162975

In [50]:
merged_women.to_csv('Women Crime.csv', index=False)

## Human Rights violation by Police

In [51]:
human=pd.read_excel('35_Human_rights_violation_by_police_2001_2010.xlsx')

For Human rights violation by poice in year 2011 and 2012 data was not found so for this we will keep our research till 2010 only.

In [52]:
human

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0
...,...,...,...,...,...,...,...
2262,Meghalaya,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2263,Nagaland,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),0.0,0.0,0.0
2264,Odisha,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),5.0,1.0,0.0
2265,Uttar Pradesh,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),6.0,5.0,0.0
2266,West Bengal,2010,HR_Total Violations by Police,12. Total (Sum of 1-11 Above),1.0,0.0,0.0

In [53]:
unique_states = human['Area_Name'].unique()
print(unique_states)

['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chandigarh'
 'Chhattisgarh' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jharkhand' 'Karnataka' 'Madhya Pradesh' 'Maharashtra' 'Meghalaya'
 'Nagaland' 'Odisha' 'Uttar Pradesh' 'West Bengal' 'Daman & Diu' 'Punjab'
 'Rajasthan' 'Tamil Nadu' 'Manipur' 'Mizoram' 'Kerala' 'Tripura' 'Delhi'
 'Goa' 'Uttarakhand' 'Puducherry']

In [54]:
# Population data
population_data_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2001': [76210007, 1091117, 26638407, 82878996, 20795956, 1343998, 50596992, 21082989, 6077248,
                        10069917, 26909428, 52733958, 31838619, 60385118, 96752247, 2388634, 2306069, 891058,
                        1988636, 36706920, 24289296, 56473122, 540493, 62110839, 3191168, 166052859, 8479562,
                        80221171, 356265, 900914, 220451, 158059, 13782976, 60595, 973829]
}

population_data_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2011': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602,
                        12267032, 32988134, 61095297, 33406061, 72626809, 112374333, 2570390, 2966889, 1097206,
                        1978502, 41974219, 27743338, 68548437, 610577, 72147030, 3673917, 199812341, 10086292,
                        91276115, 380581, 1055450, 585764, 243247, 16787941, 64473, 1247953]
}

# Literacy rate data
literacy_rate_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2001': [60.5, 54.3, 63.3, 47, 64.7, 82, 69.1, 57.9, 76.5, 55.5, 53.6,
                      66.6, 90.9, 63.7, 76.9, 70.5, 62.5, 88.8, 66.6, 63.1, 69.7,
                      60.1, 68.8, 73.5, 73.2, 56.3, 71.6, 68.6, 81.3, 81.9, 57.6,
                      78.2, 81.7, 86.7, 81.2]
}

literacy_rate_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2011': [67.02, 65.38, 72.19, 61.8, 70.28, 88.7, 78.03, 75.55, 82.8,
                      67.16, 66.41, 75.36, 94, 69.32, 82.34, 76.94, 74.43, 91.33,
                      79.55, 72.87, 75.84, 66.11, 81.42, 80.09, 87.22, 67.68, 78.82,
                      76.26, 86.63, 86.05, 76.24, 87.1, 86.21, 91.85, 85.85]
}

# Area data
area_data = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'AREA': [162975, 83743, 78438, 94163, 135192, 3702, 196024, 44212, 55673, 42241, 79716,
             191791, 38863, 308252, 307713, 22327, 22429, 21081, 16579, 155707, 50362,
             342239, 7096, 130058, 10491, 240928, 53483, 88752, 8249, 114, 603, 32, 1484, 32, 479]
}

# Converting dictionaries to DataFrames
population_df_2001 = pd.DataFrame(population_data_2001)
population_df_2011 = pd.DataFrame(population_data_2011)
literacy_df_2001 = pd.DataFrame(literacy_rate_2001)
literacy_df_2011 = pd.DataFrame(literacy_rate_2011)
area_df = pd.DataFrame(area_data)

# Merge data with the main DataFrame
merged_hum = human.merge(population_df_2001, on='Area_Name', how='left') \
              .merge(population_df_2011, on='Area_Name', how='left') \
              .merge(literacy_df_2001, on='Area_Name', how='left') \
              .merge(literacy_df_2011, on='Area_Name', how='left') \
              .merge(area_df, on='Area_Name', how='left')

In [55]:
merged_hum.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Registered_under_Human_Rights_Violations,Policemen_Chargesheeted,Policemen_Convicted,POPULATION_2001,POPULATION_2011,LITERACY_2001,LITERACY_2011,AREA
0,Andhra Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0,76210007.0,49577103.0,60.5,67.02,162975.0
1,Arunachal Pradesh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0,1091117.0,1383727.0,54.3,65.38,83743.0
2,Assam,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0,26638407.0,31205576.0,63.3,72.19,78438.0
3,Bihar,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0,82878996.0,104099452.0,47.0,61.80,94163.0
4,Chandigarh,2001,HR_Disappearance of Persons,01. Disappearance of Persons,0.0,0.0,0.0,900914.0,1055450.0,81.9,86.05,114.0

In [56]:
merged_hum.to_csv('Human Rights Crime.csv', index=False)

## Police killed or injured on duty

In [57]:
police=pd.read_excel('13_Police_killed_or_injured_on_duty2001_2010.xlsx')

In [58]:
unique_states = police['Area_Name'].unique()
print(unique_states)

['Andaman & Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam'
 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra & Nagar Haveli' 'Daman & Diu'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal']

In [59]:
# Population data
population_data_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2001': [76210007, 1091117, 26638407, 82878996, 20795956, 1343998, 50596992, 21082989, 6077248,
                        10069917, 26909428, 52733958, 31838619, 60385118, 96752247, 2388634, 2306069, 891058,
                        1988636, 36706920, 24289296, 56473122, 540493, 62110839, 3191168, 166052859, 8479562,
                        80221171, 356265, 900914, 220451, 158059, 13782976, 60595, 973829]
}

population_data_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2011': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602,
                        12267032, 32988134, 61095297, 33406061, 72626809, 112374333, 2570390, 2966889, 1097206,
                        1978502, 41974219, 27743338, 68548437, 610577, 72147030, 3673917, 199812341, 10086292,
                        91276115, 380581, 1055450, 585764, 243247, 16787941, 64473, 1247953]
}

# Literacy rate data
literacy_rate_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2001': [60.5, 54.3, 63.3, 47, 64.7, 82, 69.1, 57.9, 76.5, 55.5, 53.6,
                      66.6, 90.9, 63.7, 76.9, 70.5, 62.5, 88.8, 66.6, 63.1, 69.7,
                      60.1, 68.8, 73.5, 73.2, 56.3, 71.6, 68.6, 81.3, 81.9, 57.6,
                      78.2, 81.7, 86.7, 81.2]
}

literacy_rate_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2011': [67.02, 65.38, 72.19, 61.8, 70.28, 88.7, 78.03, 75.55, 82.8,
                      67.16, 66.41, 75.36, 94, 69.32, 82.34, 76.94, 74.43, 91.33,
                      79.55, 72.87, 75.84, 66.11, 81.42, 80.09, 87.22, 67.68, 78.82,
                      76.26, 86.63, 86.05, 76.24, 87.1, 86.21, 91.85, 85.85]
}

# Area data
area_data = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'AREA': [162975, 83743, 78438, 94163, 135192, 3702, 196024, 44212, 55673, 42241, 79716,
             191791, 38863, 308252, 307713, 22327, 22429, 21081, 16579, 155707, 50362,
             342239, 7096, 130058, 10491, 240928, 53483, 88752, 8249, 114, 603, 32, 1484, 32, 479]
}

# Converting dictionaries to DataFrames
population_df_2001 = pd.DataFrame(population_data_2001)
population_df_2011 = pd.DataFrame(population_data_2011)
literacy_df_2001 = pd.DataFrame(literacy_rate_2001)
literacy_df_2011 = pd.DataFrame(literacy_rate_2011)
area_df = pd.DataFrame(area_data)

# Merge data with the main DataFrame
merged_pol = police.merge(population_df_2001, on='Area_Name', how='left') \
              .merge(population_df_2011, on='Area_Name', how='left') \
              .merge(literacy_df_2001, on='Area_Name', how='left') \
              .merge(literacy_df_2011, on='Area_Name', how='left') \
              .merge(area_df, on='Area_Name', how='left')

In [60]:
merged_pol.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Police_Injured_By_Criminals,Police_Injured_By_Riotous_Mobs,Police_Injured_In_Accidents,Police_Injured_In_Dacoity_OperationsOther_raids,Police_Injured_In_TerroristsExtremists_Operations,Police_Injured_On_Border_Duties,...,Police_Killed_In_Accidents,Police_Killed_In_Dacoity_OperationsOther_raids,Police_Killed_In_TerroristsExtremists_Operations,Police_Killed_On_Border_Duties,Police_Killed_Total_Policemen,POPULATION_2001,POPULATION_2011,LITERACY_2001,LITERACY_2011,AREA
0,Andaman & Nicobar Islands,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,...,0,0,0,0,0,356265,380581,81.3,86.63,8249
1,Andhra Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,3,4,1,3,0,...,2,0,3,0,5,76210007,49577103,60.5,67.02,162975
2,Arunachal Pradesh,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,0,0,...,0,0,0,0,0,1091117,1383727,54.3,65.38,83743
3,Assam,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,0,0,0,0,1,0,...,1,0,0,0,1,26638407,31205576,63.3,72.19,78438
4,Bihar,2001,Police - Assistant Sub-Inspectors,3. Assistant Sub-Inspectos,1,0,0,0,2,0,...,0,0,2,0,2,82878996,104099452,47.0,61.80,94163

In [61]:
merged_pol.to_csv('Police Crime.csv', index=False)

## Property stolen and recovered by nature of property

In [62]:
stolen=pd.read_excel('11_Property_stolen_and_recovered_nature_of_property_2001_2010.xlsx')

In [63]:
unique_states = stolen['Area_Name'].unique()
print(unique_states)

['Andaman & Nicobar Islands' 'Andhra Pradesh' 'Arunachal Pradesh' 'Assam'
 'Bihar' 'Chandigarh' 'Chhattisgarh' 'Dadra & Nagar Haveli' 'Daman & Diu'
 'Delhi' 'Goa' 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir'
 'Jharkhand' 'Karnataka' 'Kerala' 'Lakshadweep' 'Madhya Pradesh'
 'Maharashtra' 'Manipur' 'Meghalaya' 'Mizoram' 'Nagaland' 'Odisha'
 'Puducherry' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu' 'Tripura'
 'Uttar Pradesh' 'Uttarakhand' 'West Bengal']

In [64]:
# Population data
population_data_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2001': [76210007, 1091117, 26638407, 82878996, 20795956, 1343998, 50596992, 21082989, 6077248,
                        10069917, 26909428, 52733958, 31838619, 60385118, 96752247, 2388634, 2306069, 891058,
                        1988636, 36706920, 24289296, 56473122, 540493, 62110839, 3191168, 166052859, 8479562,
                        80221171, 356265, 900914, 220451, 158059, 13782976, 60595, 973829]
}

population_data_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2011': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602,
                        12267032, 32988134, 61095297, 33406061, 72626809, 112374333, 2570390, 2966889, 1097206,
                        1978502, 41974219, 27743338, 68548437, 610577, 72147030, 3673917, 199812341, 10086292,
                        91276115, 380581, 1055450, 585764, 243247, 16787941, 64473, 1247953]
}

# Literacy rate data
literacy_rate_2001 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2001': [60.5, 54.3, 63.3, 47, 64.7, 82, 69.1, 57.9, 76.5, 55.5, 53.6,
                      66.6, 90.9, 63.7, 76.9, 70.5, 62.5, 88.8, 66.6, 63.1, 69.7,
                      60.1, 68.8, 73.5, 73.2, 56.3, 71.6, 68.6, 81.3, 81.9, 57.6,
                      78.2, 81.7, 86.7, 81.2]
}

literacy_rate_2011 = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2011': [67.02, 65.38, 72.19, 61.8, 70.28, 88.7, 78.03, 75.55, 82.8,
                      67.16, 66.41, 75.36, 94, 69.32, 82.34, 76.94, 74.43, 91.33,
                      79.55, 72.87, 75.84, 66.11, 81.42, 80.09, 87.22, 67.68, 78.82,
                      76.26, 86.63, 86.05, 76.24, 87.1, 86.21, 91.85, 85.85]
}

# Area data
area_data = {
    'Area_Name': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'Andaman & Nicobar Islands',
                 'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep', 'Puducherry'],
    'AREA': [162975, 83743, 78438, 94163, 135192, 3702, 196024, 44212, 55673, 42241, 79716,
             191791, 38863, 308252, 307713, 22327, 22429, 21081, 16579, 155707, 50362,
             342239, 7096, 130058, 10491, 240928, 53483, 88752, 8249, 114, 603, 32, 1484, 32, 479]
}

# Converting dictionaries to DataFrames
population_df_2001 = pd.DataFrame(population_data_2001)
population_df_2011 = pd.DataFrame(population_data_2011)
literacy_df_2001 = pd.DataFrame(literacy_rate_2001)
literacy_df_2011 = pd.DataFrame(literacy_rate_2011)
area_df = pd.DataFrame(area_data)

# Merge data with the main DataFrame
merged_sto = stolen.merge(population_df_2001, on='Area_Name', how='left') \
              .merge(population_df_2011, on='Area_Name', how='left') \
              .merge(literacy_df_2001, on='Area_Name', how='left') \
              .merge(literacy_df_2011, on='Area_Name', how='left') \
              .merge(area_df, on='Area_Name', how='left')

In [65]:
merged_sto.head()

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Property_Recovered,Cases_Property_Stolen,Value_of_Property_Recovered,Value_of_Property_Stolen,POPULATION_2001,POPULATION_2011,LITERACY_2001,LITERACY_2011,AREA
0,Andaman & Nicobar Islands,2001,Cattle - Property,2. Cattle,0,1,0,1000,356265,380581,81.3,86.63,8249
1,Andhra Pradesh,2001,Cattle - Property,2. Cattle,448,580,6490596,7233876,76210007,49577103,60.5,67.02,162975
2,Arunachal Pradesh,2001,Cattle - Property,2. Cattle,22,34,135500,704500,1091117,1383727,54.3,65.38,83743
3,Assam,2001,Cattle - Property,2. Cattle,149,322,683350,1816386,26638407,31205576,63.3,72.19,78438
4,Bihar,2001,Cattle - Property,2. Cattle,144,334,896019,1911068,82878996,104099452,47.0,61.80,94163

In [66]:
merged_sto.to_csv('Stolen Property Crime.csv', index=False)

## Juvenile apprehended state IPC

In [67]:
juvenile=pd.read_excel('08_01_Juvenile_apprehended_state_IPC_2001_2010.xlsx')

In [68]:
unique_states = juvenile['STATE/UT'].unique()
print(unique_states)

['Andhra Pradesh' 'Arunachal Pradesh' 'Assam' 'Bihar' 'Chhattisgarh' 'Goa'
 'Gujarat' 'Haryana' 'Himachal Pradesh' 'Jammu & Kashmir' 'Jharkhand'
 'Karnataka' 'Kerala' 'Madhya Pradesh' 'Maharashtra' 'Manipur' 'Meghalaya'
 'Mizoram' 'Nagaland' 'Odisha' 'Punjab' 'Rajasthan' 'Sikkim' 'Tamil Nadu'
 'Tripura' 'Uttar Pradesh' 'Uttarakhand' 'West Bengal' 'A&N Islands'
 'Chandigarh' 'D&N Haveli' 'Daman & Diu' 'Delhi UT' 'Lakshadweep'
 'Puducherry']

In [69]:
# Population data
population_data_2001 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2001': [76210007, 1091117, 26638407, 82878996, 20795956, 1343998, 50596992, 21082989, 6077248,
                        10069917, 26909428, 52733958, 31838619, 60385118, 96752247, 2388634, 2306069, 891058,
                        1988636, 36706920, 24289296, 56473122, 540493, 62110839, 3191168, 166052859, 8479562,
                        80221171, 356265, 900914, 220451, 158059, 13782976, 60595, 973829]
}

population_data_2011 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'POPULATION_2011': [49577103, 1383727, 31205576, 104099452, 25545198, 1458545, 60439692, 25351462, 6864602,
                        12267032, 32988134, 61095297, 33406061, 72626809, 112374333, 2570390, 2966889, 1097206,
                        1978502, 41974219, 27743338, 68548437, 610577, 72147030, 3673917, 199812341, 10086292,
                        91276115, 380581, 1055450, 585764, 243247, 16787941, 64473, 1247953]
}

# Literacy rate data
literacy_rate_2001 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2001': [60.5, 54.3, 63.3, 47, 64.7, 82, 69.1, 57.9, 76.5, 55.5, 53.6,
                      66.6, 90.9, 63.7, 76.9, 70.5, 62.5, 88.8, 66.6, 63.1, 69.7,
                      60.1, 68.8, 73.5, 73.2, 56.3, 71.6, 68.6, 81.3, 81.9, 57.6,
                      78.2, 81.7, 86.7, 81.2]
}

literacy_rate_2011 = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'LITERACY_2011': [67.02, 65.38, 72.19, 61.8, 70.28, 88.7, 78.03, 75.55, 82.8,
                      67.16, 66.41, 75.36, 94, 69.32, 82.34, 76.94, 74.43, 91.33,
                      79.55, 72.87, 75.84, 66.11, 81.42, 80.09, 87.22, 67.68, 78.82,
                      76.26, 86.63, 86.05, 76.24, 87.1, 86.21, 91.85, 85.85]
}

# Area data
area_data = {
    'STATE/UT': ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa',
                 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand',
                 'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
                 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
                 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'A&N Islands',
                 'Chandigarh', 'D&N Haveli', 'Daman & Diu', 'Delhi UT', 'Lakshadweep', 'Puducherry'],
    'AREA': [162975, 83743, 78438, 94163, 135192, 3702, 196024, 44212, 55673, 42241, 79716,
             191791, 38863, 308252, 307713, 22327, 22429, 21081, 16579, 155707, 50362,
             342239, 7096, 130058, 10491, 240928, 53483, 88752, 8249, 114, 603, 32, 1484, 32, 479]
}

# Converting dictionaries to DataFrames
population_df_2001 = pd.DataFrame(population_data_2001)
population_df_2011 = pd.DataFrame(population_data_2011)
literacy_df_2001 = pd.DataFrame(literacy_rate_2001)
literacy_df_2011 = pd.DataFrame(literacy_rate_2011)
area_df = pd.DataFrame(area_data)

# Merge data with the main DataFrame
merged_juv = juvenile.merge(population_df_2001, on='STATE/UT', how='left') \
              .merge(population_df_2011, on='STATE/UT', how='left') \
              .merge(literacy_df_2001, on='STATE/UT', how='left') \
              .merge(literacy_df_2011, on='STATE/UT', how='left') \
              .merge(area_df, on='STATE/UT', how='left')

In [70]:
merged_juv.head()

,STATE/UT,Year,CRIME,Boys 7-12 Years,Girls 7-12 Years,Boys 12-16 Years,Girls 12-16 Years,Boys 16-18 Years,Girls 16-18 Years,Total for boys all Age Groups,Total for girls all Age Groups,Grand total,POPULATION_2001,POPULATION_2011,LITERACY_2001,LITERACY_2011,AREA
0,Andhra Pradesh,2001,Murder,3,0,7,0,5,0,15,0,15,76210007,49577103,60.5,67.02,162975
1,Andhra Pradesh,2001,Attempt to Commit Murder,2,0,0,0,11,0,13,0,13,76210007,49577103,60.5,67.02,162975
2,Andhra Pradesh,2001,C H Not amounting to Murder,0,0,0,0,0,0,0,0,0,76210007,49577103,60.5,67.02,162975
3,Andhra Pradesh,2001,Rape,2,0,15,0,2,1,19,1,20,76210007,49577103,60.5,67.02,162975
4,Andhra Pradesh,2001,Custodial Rape,0,0,0,0,0,0,0,0,0,76210007,49577103,60.5,67.02,162975

In [71]:
merged_juv.to_csv('juvenile Crime.csv', index=False)

### In this file we have successfully collected and merged data into files provided by the institute.